<header>
 
<div class="header">
    <a  href="#default" class="logo">PLUS TECM SHOP</a>
   
    <div class="header-right">
      <a class="active" href="#default"> Home</a>
      <a  href="#home" routerLink="login" >Login</a>
      
      <a href="#about"></a>

      <button routerLink="car" class="btn btn-primary">
        <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
    </button>
    </div>
  </div>

</header>